.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
cache.db
.env
*.egg-info/
dist/
build/
.DS_Store
cache.db-shm
cache.db-wal
indexnow_key.txt
nokatv.xyz-Crawl-stats-2026-09-14.xlsx
stats.xlsx
nokatv.xyz-Coverage-2026-09-17.xlsx
service_account.json
ss.patch
