# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/wtzjscfs/nokatv"
PassengerBaseURI "/"
PassengerPython "/home/wtzjscfs/virtualenv/nokatv/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# ----------------------------------------------------------------------
# Sécurité NokaTV : Bloquer l'accès aux fichiers sensibles
# ----------------------------------------------------------------------
Options -Indexes

RedirectMatch 404 /\.git(/.*)?$
RedirectMatch 404 /\.env$
RedirectMatch 404 /service_account\.json$
RedirectMatch 404 /\.gitignore$
RedirectMatch 404 /cache\.db$
